html, body {
	height: 100%;
	margin: 0;
}

/* .wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.login-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 538px;
	height: 604.71px;
	border-radius: 26px;	
	margin-bottom: 20px;
	padding: 40px;
	border: 1px solid #D6D6D6 !important; 
}

 */
 
 .wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative; /* wrap을 relative로 설정 */
}

.login-container {
    position: absolute; /* absolute로 설정하여 고정 위치 유지 */
    top: 50%; /* 화면의 중앙에 배치 */
    left: 50%; /* 화면의 중앙에 배치 */
    transform: translate(-50%, -50%); /* 수직 및 수평 중앙 정렬 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 538px;
    height: 604.71px;
    border-radius: 26px;    
    margin-bottom: 20px;
    padding: 40px;
    border: 1px solid #D6D6D6 !important; 
}
 
.loginTop-container {
	display: flex;
	flex-direction: column;
}

.login-form {
	display: flex;
	flex-direction: column; 
	margin-bottom: 20px;
}

.signup-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 15px;
}

.signup-text {
	cursor: pointer;
	font-weight: bold;
}


.login-logo {
	width: 122px;
	height: 20px;	
}

.input-info {
	width: 455px;
	height: 66px;
	border: 1px solid #EAEAEA;
	padding: 15px;				
	border-radius: 10px;
	margin-bottom: 15px;		
}

#login-btn {
	width: 455px;
	height: 66px;
	margin-top: 50px;
	margin-bottom: 30px;	
	border-radius: 10px;	
	background-color: black;	
	color: white;
	font-size: 20px;
	font-weight: bold;
}

.login-title {
	display: flex;
	line-height: 1; 
	font-size: 35px;
	font-weight: bold;
	color: #2D2D2D !important;
	margin-top: 10px;
	margin-bottom: 30px;
}

/* 회원가입폼 */

.signup-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 538px;
	border-radius: 26px;	
	padding: 40px;
	border: 1px solid #D6D6D6 !important; 
}

#signup-btn {
	width: 455px;
	height: 66px;
	margin-top: 20px;
	border-radius: 10px;	
	background-color: black;	
	color: white;
	font-size: 20px;
	font-weight: bold;
}

.signup-form #inputId {
	width: 350px !important;
	margin-right: 15px;
}

.idDuplicateChk-btn {
	height: 66px;
	color: white;
	background-color: black;	
	border: 1px solid #EAEAEA;
	padding: 15px;				
	border-radius: 10px;
	cursor: pointer;
}

.errorMessage {
	color: #F03F40; 
	font-size: 12px;
}

.signup-form .input-info {
	margin-bottom: 0px;
}

.signup-form .errorMessage {
	margin-bottom: 15px;
}

.signup-form select {
	margin-bottom: 15px !important;
}

.selectArea {
    position: relative;
    display: flex;
    width: 100%;
}

.selectArea select {
    width: 100%;
    padding-right: 30px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #EAEAEA;
    border-radius: 10px;
}

.selectArea svg {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    pointer-events: none;
    top: calc(50% - 6px);
}

