@charset "UTF-8";

#systemAdminMain {
	padding: 24px 32px 0 32px;
    min-width: 1440px; 
    width: 100%;
}
a {
    text-decoration: none;
}

.memberManageSpan {
    font-weight: 700;
    font-size: 24px;
    color: #000;
}

.memberPlus {
    width: 130px;
    height: 32px;
    font-size: 14px;
}

.memberManage {
    gap: 0;
    width: 100%; 
}

input[type="search"] {
	margin-left: 12px;
    width: 320px;
    height: 32px;
    border-radius: 0;
    padding-left: 22px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    position: relative !important;	
}


.btnSearch {
	position: absolute;
    width: 30px;
    height: 30px;
	left: 441px;
    top: 223px;
    border: none;
    color: #6a6a6a;
    font-size: 15px;
    background: #fff;
}

section {
    padding-top: 28px;
}

.memberManage a {
    color: #6a6a6a;
    font-size: 16px;
    font-weight: 700;
}

.nav-link.active {
    border-bottom: 4px solid black;
}

.manageTab {
    width: 150px;
    height: 54px;
    border: 1px solid #e6e6e6;
    border-bottom: 2px solid #e6e6e6;
    color: #6a6a6a;
    font-weight: 700;
}

.tabList a:nth-child(2) .manageTab,.tabList a:nth-child(3) .manageTab{
	border-left: none;
}
hr {
    margin: 0;
    border: none;
    border-top: none;
    border-bottom: 2px solid #a6a6a6;
    width: 100%;
}

.manageTab.active {
    width: 150px;
    height: 54px;
    border-bottom: 2px solid #000;
}

.nav-link:hover {
    color: #6a6a6a !important;
}

.memberManage {
    border-bottom: 2px solid #e6e6e6 !important;
}

#manageSelect {
    width: 108px;
    height: 32px;
    line-height: 16px;
    color: #6a6a6a;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    border-radius: 0;
    background-color: #fff;
    border: 1px solid #e6e6e6;
}

svg{
    margin-bottom: 2px;
    cursor: pointer;
}

.memberPlus {
    padding: 0;
    width: 122px;
    height: 32px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    color: #6a6a6a;
    font-weight: 700;
    font-size: 15px;
}

.memberDisable {
    text-decoration: none;
    color: #6a6a6a;
}

table{
    border: 1px solid black;
}

table th, td{
    padding: 8px !important;	/*부트스트랩 패딩은 16px여서 너무 큰 관계로 설정해두었습니다.*/
    vertical-align: middle/*수직 중앙 정렬 입니다.*/
}
table th{
    background-color: #f9f9fb !important;/*피그마에 있는 배경색입니다.*/
}
table .btn{
	font-size: 16px;
	color: #000;
	font-weight: bold;
}
table .dropdown-toggle::after{
	display: none !important;
}
.accept{
    color:#0c0cb5;
}
.denied{
    color: #f6111c;
}

#inputRank, #inputDept, #inputRole {
	width: 80% !important;
	margin-right: auto;
	margin-left: auto;
}

#update-btn {
	height: 32px;
}