@charset "UTF-8";

body {
	min-width: 1440px;
}

.modal-xl {
	min-width: 1140px;
}

.sidebar-menu {
    padding-left: 16px;
    margin: 0 16px 0 16px;
	height: 48px;
	border-radius: 5px;
}

.sidebar-menu:hover, 
.sidebar-menu:active {
	background-color: #fff;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.sidebar-menu-text {
	font-weight: 400;
}

.flowmate-sidebar {
    width: 230px;
    color: #000;
    font-size: 16px;
    background-color: #F7F7F9;
}