@charset "UTF-8";

body {
	min-width: 1440px;
}

.modal-xl {
	min-width: 1140px;
}

.sidebar-menu {
    padding-left: 16px;
    margin: 0 16px 0 16px;
	height: 48px;
	border-radius: 5px;
	cursor: pointer;
}

.sidebar-menu:hover, 
.sidebar-menu:active {
	background-color: #fff;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.sidebar-menu-text {
	font-weight: 400;
}

.flowmate-sidebar {
    min-width: 230px;
    color: #000;
    font-size: 16px;
    background-color: #F7F7F9;
}

.sidebar-menu.active {
    background-color: #fff;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.ptitle {
	font-weight: 700 !important;
}

table {
    border: 1px solid black;
    color: #000;
    table-layout: fixed !important;
    text-align: center !important;
}

table tr {
    height: 50px;
    text-align: center !important;
    vertical-align: middle !important;
}

table th, td {
    padding: 5px !important;
    vertical-align: middle !important;
    white-space: normal;
    text-align: center !important;
}

.fc-scrollgrid-sync-table th, td {
    padding: 0 !important;
    vertical-align: middle;
}

.table-condensed tr {
	height: 0px;
}

.dt-layout-table {
	margin-top: 30px !important;
	margin-bottom: 30px !important;
}

.dt-search {
	display: none;
}

.select2-results__group[aria-selected] {
    cursor: pointer;
    
    &[aria-selected=true] {
      background-color: #ddd;
    }
    
    &.select2-results__option--highlighted[aria-selected] {
      background-color: #5897fb;
      color: white;
    }
}