@charset "UTF-8";

header {
	height: 56px;
	color: #000;
	background-color: #fff;
}

.logo-container {
	width: 230px;
	background-color: #F7F7F9;
}

.logo {
	width: 120px;
	margin-left: 32px;
}

.project-toggle {
	font-size: 16px;
}

.header-right {
	color: #6A6A6A;
	font-size: 14px;
	font-weight: 400;
}

.new-project {
	background-color: #000;
	color: #fff;
}

.issuelist {
	font-size: 14px;
	font-weight: 600;
}

.issue-id {
	color: #000;
}

.issue_title {
	color: #6A6A6A;
}
.messages-icon{
	position: relative;
}
.msg-badge{
	position: absolute;
	top: -8px;
    left: 13px;
}