@charset "UTF-8";
header {
	height: 56px;
	color: #000000;
}

.logo {
	width: 120px;
	margin-left: 32px;
}

.project-toggle {
	margin-left: 78px;
}

.header-right {
	color: #6A6A6A;
	font-size: 14px;
	font-weight: 400;
}

.new-project {
	background-color: #000;
	color: #fff;
}