@charset "UTF-8";

#issueCreating {
    overflow: visible;
}

.issue-name {
	font-weight: 700;
	border-radius: 0;
    border: 1px solid #E5E5E5;
    color: inherit;
}

.issue-add-attachment {
	background-color: #F1F2F4;
	color: #6A6A6A;
}

.issue-add-attachment:hover,
.issue-add-attachment:active,
.issue-add-attachment:focus {
	background-color: #F1F2F4;
	color: #6A6A6A;
}

.modal-section-text {
	font-size: 18px;
	font-weight: 600;
	color: #000;
}

.issue-file-input,
.issue-content {
	height: 180px;
	background-color: #fff;
	color: #000;
	font-size: 14px;
	font-weight: 500;
}

.issue-file-input-btn {
	cursor: pointer;
}

.issue-file {
	color: #000;
	font-size: 14px;
}

.issue-comment {
	font-size: 14px;
	border-radius: 0;
    border: 1px solid #E5E5E5;
    color: #6a6a6a;
    height: 40px;
    width: 520px !important; 
}

.issue-comment-submit-btn, .issue-comment-cancel-btn {
	margin-left: 10px;
	width: 50px;
	height: 40px;
	border: none;
	font-size: 14px;
	color: #6A6A6A;
	background-color: #F1F2F4;
}

.btn-close {
	width: 0.1em;
	height: 0.1em;
}

.modal-left {
	flex: 0 0 58%;
}

.modal-right {
	flex: 0 0 40%;
}

.issue-modal-right-btns {
	height: 33.6px;
}

.issue-modal-details {
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #6A6A6A !important;
}

.details-text {
	flex: 0 0 25%;
}

.issue-range {
	flex: 0 0 75%;	
}

#daterangepicker {
	font-size: 14px;
	height: 27.33px;
	padding-left: 5px;
	margin-left: 5px;
	border: 1px solid #E5E5E5;
	color: inherit;
}

#css-dropdown {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 300px;
    height: 42px;
    margin: 100px auto 0 auto;
}

.issue-inside-select {
	width: 80px;
	border: none;
	background-color: #fff;
	font-size: 14px;
	font-weight: 600;
}

#statusButton {
	width: 88px;
}

.add-task-step {
	background-color: #EFEFEF !important;
    color: #6A6A6A !important;
    font-size: 14px !important;
    height: 27.33px !important;
}

.project-files-length {
	width: 25px;
}

.task-range {
	height: 29.33px !important;
}

.issue-file-down-btn {
	cursor: pointer;
}

.issueInfo {
	font-size: 12px;
	font-weight: 500;
}

.issue-comment-show, .issue-comment-reply-show {
	font-size: 14px;
}

.iss-cmt-date {
	color: #A3A3A3;	
	font-size: 13px;
}

.ism-cmt-reply {
	color: #A3A3A3;	
}

.iss-memberName {
	color: #5D5D5D;
}
.iss-cmt-content {
	color: #6A6A6A;
}

.comments-container {
    max-height: 400px; /* 원하는 최대 높이 설정 */
    overflow-y: auto; /* 스크롤바 활성화 */
}
.issue-comment-show,
.issue-comment-reply-show {
    padding: 10px;
}
