@charset "UTF-8";
#messageMain{
    min-width: 1440px;
    min-height: 1024px;
    height: 100vh;
}
a{
    text-decoration: none;
}
.msgDelete{
	border: none;
}
article{
    width: 100%;
}
section{
    margin-top: 48px;
    width: 100%;
}
label{
    width: 100px;
    color: #6a6a6a;
}
button{
    background-color: #fff;
    border: 1px solid #000;
}
.md-section{
    padding: 32px 0;
    border-bottom: 1px solid #e6e6e6;
}
.mi-section{
	padding-bottom: 32px;
	border-bottom: 1px solid #e6e6e6;
}
.nav{
    border-bottom: 1px solid #e6e6e6;

}


.nav-item span{
	width: 132px;
}
.nav li{
    width: 100px;
    text-align: center;
}

.messageList{
    border-top: 1px solid #e6e6e6;
}
.message{
    margin: 22px 0;
    border-bottom: 1px solid #e6e6e6;

}

.send{
    font-size: 16px;
    width: 140px;
    height: 32px;
}

.receiveDate{
    font-size: 12px;
    font-weight: 600;
    color: #b0b0b0;
}
.messageContext{
    margin-left: 30px;
	font-size: 1rem;
    color: #000;
}
.reply{
    color: #6a6a6a;
    font-size: 14px;
    font-weight: 600;
}

.meesageDetail{
    font-size: 16px;
    line-height: 32px;
}

.sender, .reciver{
    font-size: 16px;
    color: #6a6a6a;
    font-weight: 500;
}
.senderName, .reciverName{
    font-size: 15px;
    color: #000;
    font-weight: 600;
}
.senderId, .reciverId{
    font-size: 15px;
    color: #b0b0b0;
}
.messageDate{
    font-size: 12px;
    color: #b0b0b0;
}
.showList, .md-reply, .md-delete {
    width: 88px;
    height: 32px;
    margin-top: 28px;
    background-color: #fff;
}
.sender-id{
    color: #b0b0b0;
    font-size: 16px;
}
/*쪽지 팝업 창*/
#sendBody{
	overflow-y: auto; 
}
#sendMessage{
	width: 420px;
} 
#messagePop{
	width: 100%;
}
.reciver-select{
	font-size: 0.8em;
    width: 100%;
    line-height: 14px;
}
/* .select2-selection{ */
/* 	height: 24px;	 */
/* 	font-size: 0.8em */
/* } */
.ms-reciver {
	font-size: 1rem;
}
.message-content {
	height: 240px;
}
.message-file {
    font-size: 14px;
    height: 32px;
}
.btn-close {
	width: 0.1em !important;
    height: 0.1em !important;
}
.form-select{
    width: 130px;
    height: 30px;
    font-size: 14px !important;
    padding-left: 20px;
    color: #6a6a6a;
    border-radius: 0;
    background-color: #fff !important;
    border: 1px solid #e6e6e6 !important;
    background-position: right 8px center !important;
}

.searchForm {
	height: 30px;
}

input[type="search"] {
    width: 320px;
    border-radius: 0;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    padding-left: 22px;
}
input[type="search"]::placeholder{
    color: #b0b0b0;
    font-size: 14px;
}
form{
    position: relative ;   
}
.search {
	background-color: #fff;
	border: none;
	border-left: none;
    position: absolute ;
	width: 32px;
    height: 28px;
    right: 9px;
    top: 1px;
    bottom: 20px;
    color: #b0b0b0;
}