@charset "UTF-8";
main{
	min-height: 1024px;
/* 	height: 100vh;
 */}

a{
    text-decoration: none;
}
article{
    width: 100%;
}

.ptitle {
	font-weight: 700 !important;
}

.form-select{
    width: 130px;
    height: 30px;
    font-size: 14px !important;
    padding-left: 20px;
    color: #6a6a6a;
    border-radius: 0;
    background-color: #fff !important;
    border: 1px solid #e6e6e6 !important;
    background-position: right 8px center !important;
}

.searchForm {
	height: 30px;
}

input[type="search"] {
    width: 320px;
    border-radius: 0;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    padding-left: 22px;
	font-size: 14px;
}
input[type="search"]::placeholder{
    color: #b0b0b0;
    font-size: 14px;
}
form{
    position: relative ;   
}
.search {
	background-color: #fff;
	border: none;
	border-left: none;
    position: absolute ;
	width: 32px;
    height: 28px;
    right: 9px;
    top: 1px;
    bottom: 20px;
    color: #b0b0b0;
}
/*왼쪽(작업,이슈) 검색창 아이콘*/
.leftSearch{
	background-color: #fff;
	border: 1px solid  #e6e6e6;
	border-left: none;
    position: absolute ;
    width: 32px;
    height: 32px;
    right: 0;
    top: 0;
    bottom: 20px;
    color: #b0b0b0;
}
.projectAdd, .projectDisabled{
    width: 91px;
    height: 32px;
    background-color: #fff;
}
svg{
	cursor: pointer;
}

.projectUpdate{
    color: #000;
}
.projectDisabledA{
    color: #6a6a6a;
}
.progress{
    width: 120px;
    height: 8px;
}
.projectRate{
    width: 24px;
}
table{
    border: 1px solid black;
}

table th, td{
    padding: 8px !important;	/*부트스트랩 패딩은 16px여서 너무 큰 관계로 설정해두었습니다.*/
    vertical-align: middle/*수직 중앙 정렬 입니다.*/
}
table th{
    background-color: #f9f9fb !important;/*피그마에 있는 배경색입니다.*/
}
table .btn{
	font-size: 16px;
	color: #000;
	font-weight: bold;
}
table .dropdown-toggle::after{
	display: none !important;
}

/* 개인정보 수정 */

#editInfo .ptitle {
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.myinfo-list {
	font-size: 14px;
	width: 350px;
}

#deactive-btn {
	justify-content: flex-end;
}

.myinfo-id,
.myinfo-name,
.myinfo-dept,
.myinfo-rank,
.myinfo-role,
.myinfo-edit {
	display: flex;
	align-items: center;
	height: 80px;
	border-bottom: 1px solid #F5F5F5;
}

.myinfo-id,
.myinfo-name {
	height: 60px;
}

.myinfo-id-row {
	display: flex;
	justify-content: space-between; 
	align-items: center;
}
.myinfo-col {
	width: 180px;
	font-weight: 600;
}
.myinfo-list div span {
	box-sizing: border-box;
}

.myinfo-list div span:nth-child(2) {
	color: #7E7E7E;
}

.myinfo-edit {
	justify-content: center; 
	border-bottom: none;
	margin-bottom: 100px;
	padding-top: 50px;
}

.mypage-toast-alert {
	width: 300px;
	font-size: 10px;
}

.pwd-change-info {
	font-size: 14px;
	line-height: 22px;
}

.pwd-change {
	margin-top: 40px;
	font-size: 14px;
	width: 600px;
}

.current-pwd,
.change-pwd,
.change-check-pwd {
	display: flex;
	height: 70px;
}

.current-pwd input,
.change-pwd input,
.change-check-pwd input {
	box-sizing: border-box;
	width: 270px;
	height: 30px;
	padding-left: 5px;
}

.inputMessage {
	display: flex;
	flex-direction: column;
}

.errorMessage {
	color: #F03F40; 
	font-size: 12px;
}

.pwdErrorMessage {
	color: #F03F40; 
	font-size: 12px;
}

#edit-pwd-btn {
	margin-left: 0px !important;
}