@charset "UTF-8";
#messageMain{
    min-width: 1440px;
    min-height: 1024px;
}
a{
    text-decoration: none;
}
article{
	padding: 24px 16px 0 16px;
    width: 100%;
    border-left: 1px solid #e5e5e5;
}
.allProjectTitle{
    font-size: 25px;
    font-weight: 700;
}
.projectSearch{
    width: 320px;
    height: 32px;
    border-radius: 0;
    padding-left: 22px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    position: relative !important;
}
.projectSearch::placeholder{
    color: #b0b0b0;
    font-size: 14px;
}
.search {
	border: none;
	background-color: #fff;
    position: absolute;
    width: 32px;
    left: 540px;
    top: 150px;
    height: 30px;
    padding: 0;
    color: #b0b0b0;
}
.projectAdd, .projectDisabled{
    width: 91px;
    height: 32px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
}


svg{
	cursor: pointer;
}
.projectNum-td{
	padding-left: 16px !important;
}
.projectUpdate{
    color: #000;
}
.projectDisabledA{
    color: #6a6a6a;
}
.progress{
    width: 120px;
    height: 8px;
}
.projectRate{
    width: 24px;
}
table{
    border: 1px solid black;
}

table th, td{
    padding: 8px !important;	/*부트스트랩 패딩은 16px여서 너무 큰 관계로 설정해두었습니다.*/
    vertical-align: middle/*수직 중앙 정렬 입니다.*/
}
table th{
    background-color: #f9f9fb !important;/*피그마에 있는 배경색입니다.*/
}