@charset "UTF-8";
#myTaskMain{
    min-width: 1440px;
    min-height: 1024px;
}
article{
	padding: 24px 16px 0 16px;
    width: 100%;
    border-left: 1px solid #e5e5e5;
}
.allProjectTitle{
    font-size: 25px;
    font-weight: 700;
}

.form-select{
    width: 144px;
    height: 30px;
	padding : 2px 0px 2px 8px;
    font-size: 14px;
    color: #6a6a6a;
    border-radius: 0;
    background-color: #fff;
    border: 1px solid #e6e6e6;
}
.myTaskTitle{
    font-size: 25px;
    font-weight: 700;
}
.taskSearch{
    width: 320px;
    height: 32px;
    border-radius: 0;
    padding-left: 22px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
}
.taskSearch::placeholder{
    color: #b0b0b0;
    font-size: 14px;
}
form{
    position: relative ;   
}
.search {
	background-color: #fff;
	border: 1px solid  #e6e6e6;
	border-left: none;
    position: absolute ;
    width: 32px;
    height: 32px;
    right: 0;
    top: 0;
    bottom: 20px;
    color: #b0b0b0;
}


svg{
	cursor: pointer;
}
/*테이블 CSS*/
table{
    border: 1px solid black;
}

table th, td{
    padding: 8px !important;	/*부트스트랩 패딩은 16px여서 너무 큰 관계로 설정해두었습니다.*/
    vertical-align: middle/*수직 중앙 정렬 입니다.*/
}
table th{
    background-color: #f9f9fb !important;/*피그마에 있는 배경색입니다.*/
}
