.form-control {
	background-color: white !important;
}

#notice-top-menu {
	border-top : 1px solid #E6E6E6 !important;
}

#insertForm #notice-top-menu, #updatetForm #notice-top-menu {
	border: 1px solid rgba(0, 0, 0, 0.1960784314);	
	border-top: 1px solid rgba(0, 0, 0, 0.1960784314) !important;
    box-sizing: border-box;
    color: #000;
    font-family: sans-serif;
    border-radius: 2px;
	
}

/* .formTitle {
	border-bottom : 1px solid #E6E6E6 !important;
} */

#noticeDetailContent {
	border-top : 1px solid #E6E6E6 !important;
	border-bottom : 1px solid #E6E6E6 !important;
	height: 600px;
  	minHeight: null;            
  	maxHeight: null; 
}

#noticeContent, #noticeUpdateContent {
	border : 1px solid #E6E6E6 !important;
}


.notice-regdate, .notice-hitnum {
	color: #6A6A6A !important;
	font-size: 11px;
}

#updateTitleLength, #titleLength {
	color: #6A6A6A;
	font-size: 14px;
	width: 5%;
}

.form-control:disabled {
	padding: .75rem .45rem !important;
	color: #000000 !important;
}

.detailTitle {
	font-size: 18px !important;
	font-weight: 500 !important;
}

#list-btn {
    display: flex;
    justify-content: center !important;
    align-items: center;
    width: 214px;
    height: 31px;
    padding: 10px;
    background-color: #E6E6E6;
    color: black;
    border: none;
    margin-bottom: 20px;
}