.form-control {
	background-color: white !important;
}

#notice-top-menu {
	border-top : 1px solid #E6E6E6 !important;
}

#noticeContent, #noticeUpdateContent {
	border-top : 1px solid #E6E6E6 !important;
	border-bottom : 1px solid #E6E6E6 !important;
}

.notice-regdate, .notice-hitnum {
	color: #6A6A6A !important;
	font-size: 11px;
}

#updateTitleLength, #titleLength {
	color: #6A6A6A;
	font-size: 14px;
	width: 5%;
}

.file-preview {
	border-top : 1px solid #E6E6E6 !important;
}

.form-control:disabled {
	padding: .75rem .45rem !important;
	color: #000000 !important;
}

.detailTitle {
	font-size: 18px !important;
	font-weight: 500 !important;
}