@charset "UTF-8";
.project-sidebar{
	height: 100vh;
}
.form-select{
    width: 130px;
    height: 30px;
    font-size: 14px !important;
    padding-left: 20px;
    color: #6a6a6a;
    border-radius: 0;
    background-color: #fff !important;
    border: 1px solid #e6e6e6 !important;
    background-position: right 8px center !important;
}
.form-select{
    font-size: 14px;
    color: #6a6a6a;
}
form{
    position: relative ;   
}
.search {
	background-color: #fff;
	border: 1px solid  #e6e6e6;
	border-left: none;
    position: absolute ;
	width: 32px;
    height: 28px;
    right: 9px;
    top: 1px;
    bottom: 20px;
    color: #b0b0b0;
}

input[type="search"] {
    width: 320px;
    height: 32px;
    border-radius: 0;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    padding-left: 22px;
}
input[type="search"]::placeholder{
    color: #b0b0b0;
    font-size: 14px;
}
svg{
	cursor: pointer;
}
table{
    border: 1px solid black;
    color: #000;
}

table th, td{
    padding: 8px !important;	/*부트스트랩 패딩은 16px여서 너무 큰 관계로 설정해두었습니다.*/
    vertical-align: middle/*수직 중앙 정렬 입니다.*/
}
table th{
    background-color: #f9f9fb !important;/*피그마에 있는 배경색입니다.*/
}