@charset "UTF-8";

.form-select{
    width: 130px;
    height: 30px;
    font-size: 14px !important;
    padding-left: 20px;
    color: #6a6a6a;
    border-radius: 0;
    background-color: #fff !important;
    border: 1px solid #e6e6e6 !important;
    background-position: right 8px center !important;
}

.form-select{
    font-size: 14px;
    color: #6a6a6a;
}

form{
    position: relative ;   
}
.search {
	background-color: #fff;
	border: none;
	border-left: none;
    position: absolute ;
	width: 32px;
    height: 28px;
    right: 9px;
    top: 1px;
    bottom: 20px;
    color: #b0b0b0;
}

.searchForm {
	height: 30px;
}

input[type="search"] {
    width: 320px;
    border-radius: 0;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    padding-left: 22px;
    font-size: 14px;
}

input[type="search"]::placeholder{
    color: #b0b0b0;
    font-size: 14px;
}

table th{
    background-color: #f9f9fb !important;/*피그마에 있는 배경색입니다.*/
    text-align: center !important;
}

table span{
	cursor: pointer;
}
table .dropdown-toggle::after{
	display: none !important;
}
table .btn{
	font-size: 16px;
	color: #000;
	font-weight: bold;
}

table.dataTable.no-footer, table tr {
	border-bottom: 1px solid #E5E5E5 !important;
}