@charset "UTF-8";

.board-project-name {
	font-weight: 700;
}

.project-info-btn {
    background-color: #F1F2F4 !important;
    color: #6A6A6A !important;
}

.board-content {
	background-color: #F7F7F9;
	height: 100vh;
}

.task-progress {
	flex: 0 0 84% !important;
	background-color: #fff !important;
	height: 12px !important;
	border: 1px solid #f4f4f4;
}

.board-task-progress {
	color: #6A6A6A;
	font-size: 13px;
	font-weight: 400;
}

.board-step {
	color: #000;
	font-size: 14px;
}

.board-cnt {
	color: #6A6A6A;
	font-size: 14px;
}

.board-date {
	color: #A3A3A3;
	font-size: 12px;
}

.project-stats {
	box-sizing: border-box;
}

.project-progress-bar {
	background-color: #E5E5E5 !important;
	height: 30px !important;
}

.project-progress-bar .progress-bar {
	font-weight: 500;
	background-color: #000 !important;
}

.project-progress-bar.progress {
	flex: 0 0 50% !important;
}

.project-progress {
	width: 250px;
	margin-left: 150px;
}

.project-schedule {
	width: 250px;
	margin-right: 150px;
}

.project-task-stats{
	width: 300px;
	border-right: 2px solid #e5e5e5;
	border-left: 2px solid #e5e5e5;
}

.project-task-stats span,
.project-schedule span {
	color: #6A6A6A;
}

.add-task {
	background-color: #EFEFEF !important;
	color: #6A6A6A !important;
	font-size: 14px !important;
	height: 25px !important;
}

.add-task:hover,
.add-task:active, 
.add-task:focus {
    background-color: #EFEFEF !important;
    color: #6A6A6A !important;
}

.project-tasks {
	overflow-y: auto;
	height: calc(100% - 56px);
}

.project-tasks::-webkit-scrollbar {
    width: 5px;  /* 스크롤바의 너비 */
}

.project-tasks::-webkit-scrollbar-thumb {
    background: #dedee0; 
    border-radius: 10px;
}

.project-tasks::-webkit-scrollbar-track {
    background: rgba(234, 234, 236, .5);
}

.task {
	height: 85px;
	background-color: #fff;
}

.task-state {
	color: #6A6A6A;
	font-size: 12px;
	font-weight: 400;
	padding-top: 2px;
	padding-bottom: 2px;
}

.task_id {
	font-size: 13px;
	color: #000;
}

.task-issue {
	color: #6A6A6A;
	font-size: 12px;
}

.board-task-title {
	max-width: 120px;
	line-height: 22px !important;
	font-size: 14px;
}

.board-task-member-name {
	font-size: 12px;
}

/* 작업 추가 모달 */
.task-name {
	font-weight: 700;
	border-radius: 0;
    border: 1px solid #E5E5E5;
    color: inherit;
}

.task-member {
	color: inherit
}

.task-step {
	font-size: 14px;
    height: 27.33px;
    border: 1px solid #E5E5E5;
    color: inherit;
}

.task-add-attachment,
.task-add-issue {
	background-color: #F1F2F4 !important;
	color: #6A6A6A !important;
}

.task-file-input,
.task-content,
.task-log {
	height: 180px !important;
	background-color: #fff !important;
	color: #000 !important;
	font-size: 14px !important;
	font-weight: 500 !important;
}

.task-log {
	height: 130px !important;
}

.task-file-input-btn {
	cursor: pointer;
}

.task-file {
	color: #000;
	font-size: 14px;
}

.task-details-text {
	flex: 0 0 25%;
}

.task-date-range, .task-step-date-range {
	flex: 0 0 75%;	
}

.task-issue-state-btn {
	border: none;
}

.task-issue-id {
	flex: 0 0 20%;
}

.task-issue_title {
	flex: 0 0 60%;
}

.task-issue-state {
	flex: 0 0 15%;
}